*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #093028, #237a57);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

header h1 {
    text-align: center;
    font-size: 3rem;
    padding: 10px 30px;
    color: #000;
    border: 1px solid #000;
    background-color: #ffc778;
    border-radius: 20px;
}

.box {
    width: 1280px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box textarea {
    width: 50%;
    height: 30vh;
    resize: none;
    margin-right: 20px;
    outline: none;
    padding-left: 10px;
    font-size: 1.3rem;
    border-radius: 10px;
    border: 2px solid #000;
}

.box button {
    width: 20%;
    height: 10vh;
    margin-top: 10px;
    border-radius: 50px;
    background-color: #ffc778;
    font-size: 1.5rem;
    border: 1px solid #000;
    box-shadow: 3px 3px 3px #000;
    font-weight: bold;
    cursor: pointer;
}

.table-box {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

table {
    width: 500px;
}

table th{
    background-color: #ffc778;
}

table td {
    padding-left: 5px;
    background-color: #fff;
}